[
  {rabbit, [

    %% ---------------- LOOPBACK ----------------
    {loopback_users, []}

    {% if rabbitmq_ssl_enabled %}

    %% ---------------- SSL ----------------
    ,{ssl_listeners, [{{ rabbitmq_ssl_port }}]}
    ,{ssl_options, [
        {cacertfile, "{{ rabbitmq_ssl_cacert }}"},
        {certfile,   "{{ rabbitmq_ssl_cert }}"},
        {keyfile,    "{{ rabbitmq_ssl_key }}"},
        {verify,     {{ rabbitmq_ssl_verify }}},
        {fail_if_no_peer_cert, {{ rabbitmq_ssl_fail_if_no_peer_cert | lower }}}
      ]}

    {% endif %}

    %% ---------------- FUTURE OPTIONS ----------------
  ]}
].
