---
- name: Stop RabbitMQ on non-primary nodes
  command: rabbitmqctl stop_app
  when: inventory_hostname != rabbitmq_nodes[0]
  become: yes

- name: Join cluster
  command: rabbitmqctl join_cluster rabbit@{{ rabbitmq_nodes[0] }}
  when: inventory_hostname != rabbitmq_nodes[0]
  become: yes

- name: Start RabbitMQ on non-primary nodes
  command: rabbitmqctl start_app
  when: inventory_hostname != rabbitmq_nodes[0]
  become: yes
