---
- name: Configure RabbitMQ
  template:
    src: rabbitmq.config.jinja2
    dest: /etc/rabbitmq/rabbitmq.config
    owner: root
    group: root
    mode: '0644'
  notify: restart rabbitmq
  become: yes
