---
- name: Install RabbitMQ & Erlang (Debian)
  apt:
    name: "{{ rabbitmq_packages_debian }}"
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"
  become: yes

- name: Install RabbitMQ & Erlang (RHEL)
  dnf:
    name: "{{ rabbitmq_packages_redhat }}"
    state: present
  when: ansible_os_family == "RedHat"
  become: yes
