---
# SPDX-License-Identifier: MIT-0
# RHEL 9 RabbitMQ + Erlang installation via local RPMs

- name: Ensure /tmp/rpm directory exists
  file:
    path: /tmp/rpm
    state: directory
    mode: '0755'
  become: yes

- name: Download EPEL RPM locally
  get_url:
    url: https://dl.fedoraproject.org/pub/epel/9/Everything/x86_64/Packages/e/epel-release-9-15.el9.noarch.rpm
    dest: /tmp/rpm/epel-release.rpm
    mode: '0644'
  become: yes

- name: Install EPEL RPM
  dnf:
    name: /tmp/rpm/epel-release.rpm
    state: present
  become: yes

- name: Download Erlang RPM from RabbitMQ official repo
  get_url:
    url: https://github.com/rabbitmq/erlang-rpm/releases/download/v26.3.2/erlang-26.3.2-1.el9.x86_64.rpm
    dest: /tmp/rpm/erlang.rpm
    mode: '0644'
  become: yes

- name: Install Erlang RPM
  dnf:
    name: /tmp/rpm/erlang.rpm
    state: present
  become: yes

- name: Download RabbitMQ RPM from official repo
  get_url:
    url: https://github.com/rabbitmq/rabbitmq-server/releases/download/v3.12.4/rabbitmq-server-3.12.4-1.el9.noarch.rpm
    dest: /tmp/rpm/rabbitmq-server.rpm
    mode: '0644'
  become: yes

- name: Install RabbitMQ RPM
  dnf:
    name: /tmp/rpm/rabbitmq-server.rpm
    state: present
  become: yes

- name: Enable & start RabbitMQ service
  systemd:
    name: rabbitmq-server
    enabled: yes
    state: started
  become: yes
